<h1>Vehicle Management</h1>

<div class="management-view">
    <!-- Display flash messages -->
    <% if (messages.success) { %>
        <% messages.success.forEach(msg=> { %>
            <div class="alert-success">
                <%= msg %>
            </div>
            <% }) %>
                <% } %>

                    <!-- Notice / Info messages -->
                    <% if (messages.notice) { %>
                        <% messages.notice.forEach(msg=> { %>
                            <div class="alert-info">
                                <%= msg %>
                            </div>
                            <% }) %>
                                <% } %>

                                    <!-- Error messages -->
                                    <% if (messages.error) { %>
                                        <% messages.error.forEach(msg=> { %>
                                            <div class="flash-messages">
                                                <%= msg %>
                                            </div>
                                            <% }) %>
                                                <% } %>

                                                    <!-- Inventory Management Links-->
                                                    <ul>
                                                        <li><a href="/inv/add-classification">Add a new
                                                                classification</a></li>
                                                        <li><a href="/inv/add-inventory">Add a new vehicle</a></li>
                                                    </ul>
</div>

<!-- Inventory Management Grid -->
<div class="management-header">
    <h2>Manage Inventory</h2>
    <p>Select a classification from the list to see the items belonging to the classification.</p>
</div>

<div class="management-view">
    <%- classificationList %>

        <table id="inventoryDisplay"></table>

        <noscript>JavaScript must be enabled to use this page.</noscript>

        <script src="../../js/inventory.js"></script>
</div>