<h1>Vehicle Management</h1>

<div class="management-view">
    <!-- Display flash messages -->
    <% if (messages.success) { %>
        <% messages.success.forEach(msg=> { %>
            <div class="alert-success">
                <%= msg %>
            </div>
            <% }) %>
                <% } %>

                    <% if (messages.error) { %>
                        <% } %>

                            <!-- Inventory Management Links-->
                            <ul>
                                <li><a href="/inv/add-classification">Add a new classification</a></li>
                                <li><a href="/inv/add-inventory">Add a new vehicle</a></li>
                            </ul>
</div>